.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 64px;
}

.menu-button {
    margin-right: 8px;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logo-icon {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-size: 24px;
    font-weight: 450;
    margin-left: 8px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: rgba(228, 234, 238, 0.51);
    border-radius: 8px;
    padding: 0 12px;
    margin: 0 20px;
    width: 600px;
}

.search-icon {
    color: #5f6368;
    margin-right: 15px;
}

.search-box {
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    padding: 11px 0;
    color: #393b40;
    width: 100%;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-container {
    background: transparent;
    height: calc(100vh - 64px);
}

.sidenav {
    width: 280px;
    background: white;
}

.drawer-item {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    mat-icon {
        margin-right: 32px;
        margin-left: 16px;
    }
}

.profile-details {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
  }
  
  .profile-info {
    margin-bottom: 8px;
  }
  
  .profile-name {
    font-weight: bold;
    font-size: 14px;
  }
  
  .profile-email {
    font-size: 12px;
    color: gray;
  }
  