<div class="takenote" *ngIf="addnote else expandedNote" (click)="addNoteToggle('toggle')">
  <span>Take a note...</span>
  <div class="icons">
    <button mat-icon-button matTooltip="New list">
      <mat-icon svgIcon="tick-icon"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="New note with drawing">
      <mat-icon svgIcon="brush-icon"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="New note with image">
      <mat-icon svgIcon="img-icon"></mat-icon>
    </button>
  </div>
</div>

<ng-template #expandedNote>
  <div class="input" [style.background-color]="color">
    <button class="pin-icon" mat-icon-button matTooltip="Pin note">
      <mat-icon svgIcon="pin-icon"></mat-icon>
    </button>
    <input id="title" type="text" placeholder="Title" [(ngModel)]="title">
    <input id="description" type="text" placeholder="Take a note..." [(ngModel)]="description">
    <div class="buttons">
      <button mat-icon-button matTooltip="Remind me">
        <mat-icon svgIcon="reminder-icon"></mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="colorMenu" matTooltip="Background color options">
        <mat-icon svgIcon="color-palatte-icon"></mat-icon>
      </button>
      <mat-menu #colorMenu="matMenu">
        <div class="colormenu">
          <div *ngFor="let color of colorArray">
            <button class="colorbutton" [style.background-color]="color.code" (click)="setNoteColor(color.code)">
            </button>
          </div>
        </div>
      </mat-menu>      
      <button mat-icon-button matTooltip="Add image">
        <mat-icon svgIcon="img-icon"></mat-icon>
      </button>
      <button mat-icon-button matTooltip="Archive" (click)="addNoteToggle('archive')">
        <mat-icon svgIcon="archive-icon"></mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" matTooltip="More">
        <mat-icon svgIcon="more-icon"></mat-icon>
      </button>
      <button mat-button class="close-button" (click)="addNoteToggle('save')">Close</button>
    </div>
  </div>
</ng-template>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Add label</button>
  <button mat-menu-item>Add drawing</button>
  <button mat-menu-item>Show checkboxes</button>
</mat-menu>