<div class="notecard" (click)="editNoteDialog()">
    <button class="pin-icon" mat-icon-button matTooltip="Pin note" (click)="$event.stopPropagation()">
        <mat-icon svgIcon="pin-icon"></mat-icon>
    </button>
    <div class="content">
        <div class="title">{{noteDetails.title}}</div>
        <div class="description">{{noteDetails.description}}</div>
    </div>
    <div class="buttons-container" (click)="$event.stopPropagation()">
        <div class="buttons" [class.show-buttons]="menuTrigger.menuOpen || isHovering" (mouseenter)="isHovering = true" (mouseleave)="isHovering = false">
            <button mat-icon-button aria-label="reminder button" matTooltip="Reminder">
                <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
            </button>
            <button mat-icon-button aria-label="color button" matTooltip="Background color options">
                <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
            </button>
            <button mat-icon-button aria-label="img button" matTooltip="Add image">
                <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
            </button>
            <button mat-icon-button aria-label="archive button" matTooltip="Archive" (click)="handleNoteIconsClick('archive'); $event.stopPropagation()">
                <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive icon"></mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" aria-label="more button" matTooltip="More">
                <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="more icon"></mat-icon>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="handleNoteIconsClick('trash')">Delete note</button>
                    <button mat-menu-item>Make a copy</button>
                </mat-menu>
            </button>
        </div>
    </div>
</div>


