.notecard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; 
  min-height: 100px; 
  width: 200px;
  border: solid #ccc;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: box-shadow 0.3s ease;
}

.notecard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.title {
  font-weight: 500;
  color: #020202;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.description {
  color: #1c1c1c;
  font-size: 13px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.buttons {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: space-around;
}

.notecard:hover .buttons {
  display: flex;
}

