.notecard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 100px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
  padding: 12px 16px;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }

  &:hover .pin-icon {
    opacity: 1;
  }

  .notecard:hover .buttons {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.title {
  font-weight: 500;
  color: #020202;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.description {
  color: #1c1c1c;
  font-size: 13px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.buttons {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.45s ease;
  transform: scale(0.9);

  &:hover {
    pointer-events: auto;
  }

  &.trash-buttons {
    justify-content: flex-start; 
    gap: 10px; 
  }
}

.notecard:hover .buttons,
.buttons.show-buttons {
  opacity: 1;
}

.pin-icon {
  position: absolute;
  top: 1px;
  right: 2px;
  background-color: transparent;
  color: #5f6368;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(0.9);
}

.archive-icon-button {
  transform: scale(1.1);
}

.color-palatte-icon-button {
  display: flex;
}

.colorbutton {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 2px;
}

.colormenu {
  display: flex;
}

::ng-deep {
  .mat-mdc-menu-panel {
    max-width: unset !important;
  }
}
