.notes-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.add-note {
    display: flex;
    justify-content: center;
}

.notes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
    padding: 16px;
}

.spinner{
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 30px 40px;
}

.no_note{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 30px 40px;
    font-size: large;
    color: rgb(152, 152, 152);
}


@media (max-width: 600px) {
    .notes-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .notes-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 961px) and (max-width: 1280px) {
    .notes-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1281px) {
    .notes-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}