<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundo Sign In</title>
    <link rel="stylesheet" href="login.component.scss">
</head>
<body>
    <div class="container">
        <h1>Fundo</h1>
        <h2>Sign in</h2>
        <p>Use your Fundo Account</p>
        <form [formGroup] = "registerForm">
            <mat-form-field appearance="outline">
                <mat-label>Email or phone</mat-label>
                <input matInput formControlName = "email" [type] = "showPass">
                <mat-error *ngIf="regFormControls['email']['errors']?.['required']">Email is required</mat-error>
                <mat-error *ngIf="regFormControls['email']['errors']?.['email']">Incorrect Email Format</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName = "password" type="password">
                <mat-error *ngIf="regFormControls['password']['errors']?.['required']">Password is required</mat-error>
                <mat-error *ngIf="regFormControls['password']['errors']?.['minlength']">Password must be at least 6 characters</mat-error>
            </mat-form-field>
            <div class="links">
                <a mat-button href="#" target="_blank">Forgot password</a>
            </div>
            <div class = "links">
                <a mat-button href="#" target="_blank">Create account</a>
                <button mat-raised-button color="primary" (click) = "handleLogin()">Login</button>
            </div>
        </form>
    </div>
</body>
</html>