<div class="card" [style.background-color]="color">
    <div class="card-content"  [style.background-color]="color">
      <input [style.background-color]="color" type="text" class="input-field" placeholder="Title" [(ngModel)]="title">
      <input  [style.background-color]="color" type="text" class="input-field" placeholder="Description" [(ngModel)]="description">
    </div>
    <div class="card-footer"  [style.background-color]="color">
      <div class="action-buttons">
        <button mat-icon-button aria-label="reminder button" matTooltip="Reminder">
            <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="color button" matTooltip="Background Color Options">
            <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="img button" matTooltip="Add Image">
            <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="archive button" matTooltip="Archive" (click)="archiveNote()">
            <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive icon"></mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" aria-label="more button" matTooltip="More">
          <mat-icon svgIcon="more-icon"></mat-icon>
          <mat-menu #menu="matMenu" xPosition="after">
              <ng-container >
                  <button mat-menu-item (click)="trashNote()">Delete note</button>
                  <button mat-menu-item>Change labels</button>
                  <button mat-menu-item>Add drawing</button>
                  <button mat-menu-item>Make a copy</button>
                  <button mat-menu-item>Show checkboxes</button>
                  <button mat-menu-item>Copy to Google Docs</button>
                  <button mat-menu-item>Version history</button>
              </ng-container>
          </mat-menu>
      </button>
      </div>
      <div class="edit-buttons">
        <button mat-icon-button aria-label="Undo button" matTooltip="Undo">
          <mat-icon svgIcon="undo-icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="Redo button" matTooltip="Redo">
          <mat-icon svgIcon="redo-icon"></mat-icon>
        </button>
        <button mat-button class="close-button" (click)="onNoClick()" [mat-dialog-close]="title">Close</button>
      </div>
    </div>
</div>
  