<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundo Signup</title>
    <link rel="stylesheet" href="signup.component.scss">
</head>
<body>
    <div class="signup-container">
        <div class="signup-form">
            <h1>Fundo</h1>
            <p>Create your Fundo Account</p>
            <form [formGroup] = "registerForm">
                <div class="user-input">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName = "firstname">
                        <mat-error *ngIf="regFormControls['firstname']['errors']?.['required']">First Name is required</mat-error>
                        <mat-error *ngIf="regFormControls['firstname']['errors']?.['minlength']">First Name must be at least 3 characters</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName = "lastname">
                        <mat-error *ngIf="regFormControls['lastname']['errors']?.['required']">Last Name is required</mat-error>
                        <mat-error *ngIf="regFormControls['lastname']['errors']?.['minlength']">Last Name must be at least 1 characters</mat-error>
                    </mat-form-field>
                </div>
                <div >
                    <mat-form-field class="email" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName = "email">
                        <mat-error *ngIf="regFormControls['email']['errors']?.['required']">Email is required</mat-error>
                        <mat-error *ngIf="regFormControls['email']['errors']?.['email']">Incorrect Email Format</mat-error>
                    </mat-form-field>
                </div>
                <small>You can use letters, numbers & periods</small>
                <div class="user-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName = "password" type="password">
                        <mat-error *ngIf="regFormControls['password']['errors']?.['required']">Password is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput formControlName = "confirm" type="password">
                        <mat-error *ngIf="regFormControls['confirm']['errors']?.['required']">Confirm password is required</mat-error>
                    </mat-form-field>
                </div>
                <small>Use 8 or more characters with a mix of letters, numbers & symbols</small>
                <div class="links">
                    <a mat-button href="#" target="_blank">Sign in instead</a>
                    <button mat-raised-button color="primary"  (click) = "handleRegistration()">Register</button>
                </div>
                
            </form>
        </div>
        <div class="image">
            <img src="../../../assets/reg-logo.jpg" alt="Fundo User Icon">
            <p>One account. All of Fundo working for you.</p>
        </div>
    </div>
</body>
</html>
